{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Cloud Storage</title>
    <link id="favicon" rel="icon" type="image/x-icon" href="{% static 'images/favicon2.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> 
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  </head>
  <body>
      <div class="form-div">
	<form id="login-form" method="post">
          {% csrf_token %}
          {{ form.as_p }}
	  <button type="submit">Login</button> 
	  {% if not STATUS %}
	    <a class="reg-link" href={% url 'MainApp:register' %}>Registration</a>
	  {% endif %}
        </form>
    </div>
  </body>
</html>
