{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Cloud Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="icon" type="image/x-icon" href="{% static 'images/favicon2.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Flow+Circular&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

  </head>
  <body>
      <div class="form-div">
	<form id="login-form" method="post">
          {% csrf_token %}
          {{ form.as_p }}
	  <button class="form-submit-button" type="submit">Login</button> 
	  <span id="reg-link">
	      <a>Еще нет аккаунта?</a>
	      <a href="/reg">Регистрация</a>
	  </span>
        </form>
    </div>
  </body>
</html>
