{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Профиль пользователя </title>
    <link id="favicon" rel="icon" type="image/x-icon" href="{% static 'images/cloud.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0-rc.1/dist/js.cookie.min.js"></script>
    <script src="{% static 'js/profile.js' %}" defer="defer"></script>
</head>
<body>
    <header>
        <h1>Профиль пользователя</h1>
    </header>
    <div class="profile-info">
        <div>
          <h2>Profile</h2>
          <p>Username: {{ user.username }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Node domain: {{ user.node_domain }}</p>
          <p>Site domain: {{ GREETINGS }}</p>
        </div>
      <div class="LogoutButton">
          <button onclick="logout()">Logout</button>
      </div>
      <div class="TokenButton">
          <button onclick="test_user_token('test')">test user token</button>
      </div>
      <script>
	const access_token = Cookies.get('access_token')
	let response_data;
	function test_user_token(func='test') {
	 fetch(`https://{{ NODE_IP }}:8002/${func}/`, {
	   method: 'POST',
	   headers: {
	     'Content-Type': 'application/json',
	     'Authorization': `user Bearer ${access_token}`
	   },
	   body: JSON.stringify({
	     username: '{{ user.username }}'
	   })
	 })
	 .then(response => response.json())
	 .then(data => {
	   console.log(data);
	   response_data = data;
	   console.log(response_data.status);
	   checkStatus();
	 })
	 .catch((error) => {
	   console.error('Error:', error);
	 });
	}
	
	function checkStatus() {
	 if (response_data.status == 14){
	   window.location.href = "/logout/";
	 } else if (response_data.status == 31){
	   test_user_token();
	 }
	}
	
	test_user_token();
      </script>
</body>
</html>
