{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Профиль пользователя </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Страница профиля пользователя">
    <link id="favicon" rel="icon" sizes="32x32" type="image/png" href="{% static 'images/favicon32.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Flow+Circular&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0-rc.1/dist/js.cookie.min.js"></script>
    <script src="{% static 'js/profile.js' %}" defer="defer"></script> 
    <script src="{% static 'js/react/main.d9975699.js' %}" defer="defer"></script> 
</head>
<script>
  var node_domain = "{{ user.node_domain }}";
  var username = "{{ user.username }}";
  var node_port = "{{ node_port }}";
  var existExt = JSON.parse("{{ existExt|escapejs }}");
</script>
<body>
    <div id="root"></div>
</body>
</html>
