{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Профиль пользователя </title>
    <link id="favicon" rel="icon" type="image/x-icon" href="{% static 'images/favicon2.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0-rc.1/dist/js.cookie.min.js"></script>
    <script src="{% static 'js/profile.js' %}" defer="defer"></script>
</head>
<body>
    <header>
        <h1>Профиль пользователя</h1>
    </header>
    <div class="profile-info">
        <div>
          <h2>Profile</h2>
          <p>Username: {{ user.username }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Node domain: {{ user.node_domain }}</p>
          <p>Site domain: {{ GREETINGS }}</p>
        </div>
      <div class="LogoutButton">
          <button onclick="logout()">Logout</button>
      </div>
      <div class="TokenButton">
          <button onclick="makeRequest('CreateFolder', {'folder_name':'fold1', 'folder_parent':'Root'})">test mkdir</button>
          <button onclick="updateTokens()">update token</button>
          <button onclick="getUserData()">test get data</button>
          <button onclick="createFile()">test create file</button>
	  <input type="file" id="file" name="file" multiple />
	  <script>
      	    var node_domain = "{{ user.node_domain }}";
      	    var username = "{{ user.username }}";
	  </script>
      </div>
</body>
</html>
