{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="icon" type="image/x-icon" href="{% static 'images/favicon2.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reg.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/reg.js' %}" defer='defer'></script>
</head>
<body>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="form-submit-button" type="submit">Register</button>
  </form>
</body>
</html>

