* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100%;
    background-image: url("../images/LCARS_back.svg");
    background-color:#130128;
    color: #B970F6;
    background-size: cover;
    background-repeat: no-repeat;
}

#remove-all-files {
    font-size: 16px;
    text-align: center;
    color: pink;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
}

#remove-all-files:hover {
    background-color: pink;
    color: red;
}

.file-remove-btn {
    font-size: 16px;
    height: 24px;
    width: 24px;
    text-align: center;
    color: pink;
    background-color: grey;
    border: 1px solid black;
    border-radius: 100%;
    transition: background-color 0.3s ease;
}

.file-remove-btn:hover {
    background-color: pink;
    color: red;
}

#files-map {
  display: flex;
  width: auto;
  flex-direction: column;
}

#files-map li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

#files-map li button {
  margin-right: 3vh;
}

#drop-zone {
  display: flex;
  flex-direction: column;
  border: 2px dashed #ddc2c2;
  border-radius: 4px;
  color: #e9cdcd;
  padding: 35px;
  text-align: center;
  align-items: center;
  font-size: 20px;
  transition: all 350ms ease-in-out;
  user-select: none;
}

#drop-zone:hover {
  border-color: #eb9e9e;
  color: #e06d6d;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}

#explorer {
  position: relative;
  border: 2px dashed #ddc2c2;
  border-radius: 4vh;
  color: #e9cdcd;
  width: 69vw;
  height: 70vh;
  margin-right: 3vh;
  margin-bottom: 1vh
}

#explorer-options {
  position: relative;
  border: 2px dashed #ddc2c2;
  border-radius: 4vh;
  color: #e9cdcd;
  width: 20vw;
  height: 70vh;
  margin-right: 1vh;
  margin-bottom: 1vh
}

#explorer-div {
  position:absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
