* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-image: url("../images/background.webp");
    background-color:#130128;
    color: #B970F6;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (min-width: 600px) {
body {
    overflow: hidden;
 }

.explorer-container {
   display: grid;
   grid-template-columns: 5fr 2fr;
   grid-auto-rows: 1vh;
   grid-column-gap: 2vw;
   padding: 10px;
 }
}

#root {
  height: 100vh;
}

.explorer {
   grid-column-start: 1;
   grid-row-start: 1;
   border: 0.6vh dashed #ddc2c2;
   border-radius: 4vh;
   color: #e9cdcd;
   height: 96vh;
}
