* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh; background-image: url("../images/background.webp");
    background-color:#130128;
    color: #B970F6;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#root > div > div {
   background: rgba( 104, 21, 101, 0.2 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   border-radius: 4vh;
}

@media screen and (min-width: 600px) {
 body {
    overflow: hidden;
 }

 #root {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-column-gap: 1vw;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
 }

 #root > div > div {
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
 }

 .explorer {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 3px dashed #ddc2c2;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1vw;
    color: #e9cdcd;
    background: rgba( 104, 21, 101, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 4vh;
    grid-row-gap: 2vh;
    display: flex;
    flex-direction: column;
 }

 .options {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    box-sizing: border-box;
 }

 .drop-zone-container {
    height: 30vh;
    overflow-x: hidden;
    overflow-y: scroll;
 }
}

@media screen and (max-width: 600px) {
 #root {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-row-gap: 0.5vh;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
 }

 .explorer {
    grid-row-start: 2;
    border: 3px dashed #ddc2c2;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1vw;
    color: #e9cdcd;
    background: rgba( 104, 21, 101, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 4vh;
    grid-row-gap: 2vh;
    display: flex;
    flex-direction: column;
    height: 500px
 }

 .options {
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
 }

 .drop-zone-container {
    height: auto;
 }
}

.explorer > span {
   display: grid;
   gap: 10px;
   justify-content: space-around;
   font-size: 1.4rem;
   border: solid whitesmoke;
   border-radius: 20px;
   background-color: rebeccapurple;
   padding-top: 10px;
   padding-bottom: 10px;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.file-name {
   display: flex;
   align-items: center;
   gap: 10px;
   padding-left: 10px;
   word-wrap: anywhere;
   width: 100%;
}

.file-options {
   display: flex;
   align-items: center;
   gap: 10px;
   padding-left: 10px;
   justify-content: space-evenly;
   width: 100%;
}

.explorer-file {
   white-space: normal;
}

.download-file,
.open-file,
.delete-file {
   flex-basis: auto;
}

/*.explorer > span > h5 {
   width: max-content;
}

.explorer > span > button {
   width: max-content;
}*/

.user-info {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border: 3px dashed #ddc2c2;
   padding: 20px;
   border-radius: 4vh;
   color: #e9cdcd;
}

.drop-zone-container {
  display: flex;
  flex-direction: column;
  border: 3px dashed #ddc2c2;
  border-radius: 4vh;
  color: #e9cdcd;
  text-align: center;
  align-items: center;
  font-size: 20px;
  transition: all 350ms ease-in-out;
  user-select: none;
  height: 30vh;
  box-sizing: border-box;
}

#drop-zone {
   height: 100%;
   padding: 20px;
   display: flex;
}

#drop-zone h3 {
   margin: auto;
}

#drop-zone:hover {
  border-color: #eb9e9e;
  color: #e06d6d;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}

#remove-all-files {
    font-size: 16px;
    text-align: center;
    color: pink;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
}

#remove-all-files:hover {
    background-color: pink;
    color: red;
}

.file-remove-btn {
    font-size: 16px;
    height: 24px;
    width: 24px;
    text-align: center;
    color: pink;
    background-color: grey;
    border: 1px solid black;
    border-radius: 100%;
    transition: background-color 0.3s ease;
}

.file-remove-btn:hover {
    background-color: pink;
    color: red;
}

#prev-btn {
   position: fixed;
   top: 10px; 
   right: 10px;
   z-index: 1000;

}

